@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 24 29.4% 3.3%;
    --foreground: 30 33.3% 95.3%;

    --card: 31.8 30.9% 10.8%;
    --card-foreground: 30 33.3% 95.3%;

    --popover: 31.8 30.9% 10.8%;
    --popover-foreground: 30 33.3% 95.3%;

    --primary: 41.6 54% 53.9%;
    --primary-foreground: 24 29.4% 3.3%;

    --secondary: 34.5 37.1% 17.5%;
    --secondary-foreground: 30 33.3% 95.3%;

    --muted: 34.5 37.1% 17.5%;
    --muted-foreground: 31.3 34.3% 66.9%;

    --accent: 34.5 37.1% 17.5%;
    --accent-foreground: 42.5 61% 76.9%;

    --destructive: 0 62.8% 40.6%;
    --destructive-foreground: 30 33.3% 95.3%;

    --border: 41.6 40% 53.9% / 0.15;
    --input: 34.5 37.1% 17.5%;
    --ring: 41.6 54% 53.9%;

    --radius: 1rem;
    --speed: 1s;

    --sidebar-background: 24 29.4% 3.3%;
    --sidebar-foreground: 30 33.3% 90%;
    --sidebar-primary: 41.6 54% 53.9%;
    --sidebar-primary-foreground: 24 29.4% 3.3%;
    --sidebar-accent: 34.5 37.1% 17.5%;
    --sidebar-accent-foreground: 42.5 61% 76.9%;
    --sidebar-border: 41.6 40% 53.9% / 0.15;
    --sidebar-ring: 41.6 54% 53.9%;
  }
}

@layer base {
  * {
    @apply border-border;
    transition-property: color, background-color, border-color, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
  }
}